language: ruby
rvm:
  - 2.3.3

sudo: false

addons:
  apt:
    packages:
      - libcurl4-openssl-dev

cache:
  directories:
    - $TRAVIS_BUILD_DIR/tmp/.htmlproofer

before_script:
  - chmod +x ./scripts/test.sh

script: ./scripts/test.sh

branches:
  only:
    - master

env:
  global:
    # speeds up installation of html-proofer
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
