---
layout: page
title: "Projects"
description: "I work on stuff."
---

<h3>Brausr</h3>
<p>A spare time project used to advance my knowledge of <a href="http://android.com">Android</a>, <a href="http://apple.com/ios">iOS</a>, mobile development, web development, marketing, social media, etc.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.brausr" target="_blank">
  <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png">
</a></p>

<p><a href="https://itunes.apple.com/us/app/brausr-philly-beer-app/id909713130?mt=8&amp;uo=4" target="itunes_store">
    <img alt="Brausr - Philly Beer App - AppStore" src="/public/img/brausr-appstore.svg">
</a></p>

<div class="social-links">
    <ul class="list-inline">
        {% if site.brausr.url %}
        <li>
            <a href="{{ site.brausr.url }}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
        {% if site.brausr.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.brausr.twitter }}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
        {% if site.brausr.googleplus %}
        <li>
            <a href="https://plus.google.com/{{ site.brausr.googleplus }}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
        {% if site.brausr.facebook %}
        <li>
            <a href="https://facebook.com/{{ site.brausr.facebook }}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<h3>Everything Else</h3>
<p><a href="https://github.com/{{ site.social.github }}">GitHub</a></p>
