body {
	background-image: url("/public/img/splash.jpg");
	background-attachment: fixed;
}

.page {
	background: #fff;
	padding: 1rem;
}

.post {
	background: #fff;
	padding: 1rem;
}

.blog-date {
	margin-top: -.5rem;
	margin-bottom: 1rem;
	font-size: smaller;
	color: #9a9a9a;
}

@media (max-width: 767px) {
	.sidebar-nav-item i {
		font-size: 2em;
	}
}
