{{ define "robots" }}
    <meta name="robots" content="noindex,nofollow" />
{{ end }}

{{ define "main" }}
    <h1>all posts tagged with: {{.Title}}</h1>
    <p>{{.Content}}</p>
    {{ range .Pages }}
        <article>
            <h2>{{.Title}}</h2>
            <p>{{.Summary}}</p>
            <footer>
                <p>
                  Posted on
                  <time datetime="{{.Date.Format `2006-01-02`}}">{{.Date.Format "2006-01-02"}}</time>
                </p>
              </footer>
        </article>
    {{ end }}
{{ end }}
